<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>Please fill the form</h1>
</div>
Rate your skills according to the scale below:<br>
1 - poor<br>
2 - weak<br>
3 - average<br>
4 - good<br>
5 - excellent<br>

<form role="form" action="/save" method="post">
    <h3>Personal data</h3>
    <div class="form-group">
        <label for="age">Age:</label>
        <select class="form-control" id="age" name="age" required>
		<option value="1">18 - 20</option>
        <option value="2">21 - 25</option>
        <option value="3">26 - 30</option>
        <option value="4">31 - 40</option>
		<option value="5">Over 40</option>
		</select>
	</div>

	<h3>Programming languages</h3>
	<b>C/C++</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="cpp" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="cpp" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="cpp" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="cpp" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="cpp" value="5">5
        </label><br>
    </div>
	<b>C#</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="c" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="c" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="c" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="c" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="c" value="5">5
        </label><br>
    </div>
	<b>Python</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="py" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="py" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="py" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="py" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="py" value="5">5
        </label><br>
    </div>
	<b>PHP</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="php" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="php" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="php" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="php" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="php" value="5">5
        </label><br>
    </div>
	<b>Labview</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="lv" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="lv" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="lv" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="lv" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="lv" value="5">5
        </label><br>
    </div>
	<b>Matlab/Simulink</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="ms" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ms" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ms" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ms" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="ms" value="5">5
        </label><br>
    </div>
	<b>SQL</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="sql" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="sql" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="sql" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="sql" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="sql" value="5">5
        </label><br>
    </div>
	<b>HTML</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="html" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="html" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="html" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="html" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="html" value="5">5
        </label><br>
    </div>
	<b>Java Script</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="jv" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="jv" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="jv" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="jv" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="jv" value="5">5
        </label><br>
    </div>
	<b>Java</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="ja" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ja" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ja" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ja" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="ja" value="5">5
        </label><br>
    </div>
	<br>
	
	<h3>Capabilities</h3>
	
	<b>Teamwork</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="team" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="team" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="team" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="team" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="team" value="5">5
        </label><br>
    </div>
	
	
	<b>Communication skills</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="comm" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="comm" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="comm" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="comm" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="comm" value="5">5
        </label><br>
    </div>
	
	
	<b>Time management</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="time" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="time" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="time" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="time" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="time" value="5">5
        </label><br>
    </div>
	
	
	<b>Risk taking</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="risk" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="risk" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="risk" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="risk" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="risk" value="5">5
        </label><br>
    </div>
	
	
	<b>Fast decision making</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="dec" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="dec" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="dec" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="dec" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="dec" value="5">5
        </label><br>
    </div>
	
	
	<b>Being a leader</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="lead" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="lead" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="lead" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="lead" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="lead" value="5">5
        </label><br>
    </div>
	
	
	<b>Cultural intelligence</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="cult" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="cult" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="cult" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="cult" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="cult" value="5">5
        </label><br>
    </div>
	
	
	<b>Presenting in front of a large audience</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="pres" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="pres" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="pres" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="pres" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="pres" value="5">5
        </label><br>
    </div>
	<br>
	
	<h3>Foreign languages</h3>
	<b>English</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="eng" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="eng" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="eng" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="eng" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="eng" value="5">5
        </label><br>
    </div>
	
	
	<b>German</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="ger" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ger" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ger" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ger" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="ger" value="5">5
        </label><br>
    </div>
	
	
	<b>French</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="fr" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="fr" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="fr" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="fr" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="fr" value="5">5
        </label><br>
    </div>
	
	
	<b>Spanish</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="esp" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="esp" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="esp" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="esp" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="esp" value="5">5
        </label><br>
    </div>
	
	
	<b>Russian</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="rus" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="rus" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="rus" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="rus" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="rus" value="5">5
        </label><br>
    </div>
	
	
	<b>Italian</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="ita" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="ita" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="ita" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="ita" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="ita" value="5">5
        </label><br>
    </div>
	
	
	<b>Chinese</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="chn" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="chn" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="chn" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="chn" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="chn" value="5">5
        </label><br>
    </div>
	
	
	<b>Japanese</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="jap" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="jap" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="jap" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="jap" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="jap" value="5">5
        </label><br>
    </div>
	
	
	<b>Arabian</b>
	<div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="arb" value="1">1
        </label>
        <label class="radio-inline">
          <input type="radio" name="arb" value="2">2
        </label>
        <label class="radio-inline">
          <input type="radio" name="arb" value="3">3
        </label>
        <label class="radio-inline">
          <input type="radio" name="arb" value="4">4
        </label>
		<label class="radio-inline">
          <input type="radio" name="arb" value="5">5
        </label><br>
    </div>
	<br>
	
    <button type="submit" class="btn btn-default">Save</button>
</form>

{% endblock %}

