<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Raw data</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Created at</th>
        <th>Age</th>
		<th>C++</th>
		<th>C</th>
		<th>Python</th>
		<th>PHP</th>
		<th>Labview</th>
		<th>Matlab/Simulink</th>
		<th>SQL</th>
		<th>HTML</th>
		<th>Java Script</th>
		<th>Java</th>
		<th>Teamwork</th>
		<th>Communication</th>
		<th>Time</th>
		<th>Risk</th>
		<th>Decisions</th>
		<th>Leadership</th>
		<th>Culture</th>
		<th>Presentation</th>
		<th>English</th>
		<th>German</th>
		<th>French</th>
		<th>Spanish</th>
		<th>Russian</th>
		<th>Italian</th>
		<th>Chinese</th>
		<th>Japanese</th>
		<th>Arabian</th>
    </tr>
    </thead>

    <tbody>
    {% for element in formdata %}
    <tr>
        <td>{{ element.id }}</td>
        <td>{{ element.created_at }}</td>
        <td>{{ element.age }}</td>
		<td>{{ element.cpp }}</td>
		<td>{{ element.c }}</td>
		<td>{{ element.py }}</td>
		<td>{{ element.php }}</td>
		<td>{{ element.lv }}</td>
		<td>{{ element.ms }}</td>
		<td>{{ element.sql }}</td>
		<td>{{ element.html }}</td>
		<td>{{ element.jv }}</td>
		<td>{{ element.ja }}</td>
		<td>{{ element.team }}</td>
		<td>{{ element.comm }}</td>
		<td>{{ element.time }}</td>
		<td>{{ element.risk }}</td>
		<td>{{ element.dec }}</td>
		<td>{{ element.lead }}</td>
		<td>{{ element.cult }}</td>
		<td>{{ element.pres }}</td>
		<td>{{ element.eng }}</td>
		<td>{{ element.ger }}</td>
		<td>{{ element.fr }}</td>
		<td>{{ element.esp }}</td>
		<td>{{ element.rus }}</td>
		<td>{{ element.ita }}</td>
		<td>{{ element.chn }}</td>
		<td>{{ element.jap }}</td>
		<td>{{ element.arb }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}