<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Welcome to the survey!</h1>
    <p>You will take part in the survey measuring your IT knowledge. Today we will compare your skills and interests with requirements challenged by IT companies.This survey should only take 4-5 minutes to complete. Be assured that all answers you provide will be anonymous.</p><br>
	<img src=https://cdn.pixabay.com/photo/2016/08/20/06/15/statistic-1606951_960_720.png width='1000'>
	
  </div>

  <div class="page-header">
    <h1>Please click 'Fill the form' to begin.</h1>
  </div>
  <p>
    <a href="/form" class="btn btn-success" role="button">Fill the form</a>
    <a href="/result" class="btn btn-primary" role="button">Review results</a>
  </p>


{% endblock %}

